@model ENTIDAD.Departamento

@{
    ViewBag.Title = "GetDepartamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>

    </dl>
</div>
<p>
    <a title="Editar" href="@Url.Action("Editar", "Departamento", new { id=Model.DepartamentoId })" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i> Eliminar
    </a>

    <a href="@Url.Action("Index", "Departamento")" class="btn btn-info">
        <i class="glyphicon glyphicon-chevron-left"></i> Regersar
    </a>
</p>
