
@{
    ViewBag.Title = "Reporte Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <br />
    <div class="form-group">
        <div class="col-md-6">
            <label>Departamento:</label>
            <select class="form-control" id="DepartamentoId">
                <option value="">Seleccione...</option>
            </select>
        </div>
    </div>
</div>

<br />
<button class="btn btn-primary" onclick="DescargarPDF()">
    <i class="glyphicon glyphicon-download"></i> Descargar Reporte PDF
</button>

<button class="btn btn-primary" onclick="DescargarExcel()">
    <i class="glyphicon glyphicon-download"></i> Descargar Reporte Excel
</button>

<button class="btn btn-success" onclick="Mostrar()">
    <i class="glyphicon glyphicon-eye-open"></i> Mostrar Reporte
</button>

<hr />

<iframe id="frmEmpledo" width="100%" height="550px" frameborder="0" scrolling="no"></iframe>

@section scripts{
    <script>
        getDepartamentos();
        var dpto = $("#DepartamentoId");

        function DescargarPDF() {
            if (dpto.val() == "") {
                alert("Debe seleccionar un departamento!!!");
                return;
            }

            //array de parametros
            var data = {
                codigo: dpto.val(),
                algo: "jonny"
            };

            var params = jQuery.param(data);

        /*window.open("/Empleado/DescargarReporteEmpleado/" + dpto.val());*/
            //window.open("/Empleado/DescargarReporteEmpleado?codigo=" + dpto.val()); 
            //window.open("/Empleado/DescargarReporteEmpleado?codigo=" + dpto.val() + "&algo=" + "nuevoParametro");  
            window.open("/Empleado/DescargarReporteEmpleado?" + params); 
        }

        function DescargarExcel() {
            if (dpto.val() == "") {
                alert("Debe seleccionar un departamento!!!");
                return;
            }
            //array de parametros
            // pasar mas de un parametro
            var data = {
                codigo: dpto.val(),
                algo: "jonny"
            };

            var params = jQuery.param(data);

            //window.open("/Empleado/DescargarReporteEmpleadoExcel/" + dpto.val());
            window.open("/Empleado/DescargarReporteEmpleadoExcel?" + params); 
        }

        function Mostrar() {
            if (dpto.val() == "") {
                alert("Debe seleccionar un departamento!!!");
                return;
            }
            //array de parametros
            var data = {
                codigo: dpto.val(),
                algo: "jonny"
            };

            var params = jQuery.param(data);
            $("#frmEmpledo")
                .attr("src", "/Empleado/DescargarReporteEmpleado?" + params)
                .load();
                //.attr("src", "/Empleado/DescargarReporteEmpleado/" + dpto.val())
                //.load();
        }
    </script>
}